extends layout

block content
  if user
    if user.membership === 'ADMIN'
      .navbar
        a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
        a( href='/create-post' ) Create Post
        a( href='/log-out' ) Logout

    if user.membership === 'VIP' 
      .navbar
        a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
        a( href='/create-post' ) Create Post
        a( href=`/${ user._id }/upgrade` ) Upgrade Membership
        a( href='/log-out' ) Logout

    if user.membership === 'regular' 
      .navbar
        a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
        a( href=`/${ user._id }/upgrade` ) Upgrade Membership
        a( href='/log-out' ) Logout

    .heading
      h1 onlyMembers 
      img( src='/images/nav-icons/open.png' onclick='showNavBar()' )

    if user.membership === 'regular'
      .postContainer 
      each post in post_list 
        .postCard
          .postContent
            h4 #{ post.title.toUpperCase() } 
            p #{ post.content }
            p.postDate unknown
            p.postID anon
          img( src=post.user.avatar )
    
    if user.membership === 'VIP'
      .postContainer 
        each post in post_list 
          .postCard
            .postContent
              h4 #{ post.title.toUpperCase() }
              p #{ post.content }
              p.postDate #{ post.dateFormatted }
              p.postID #{ post.user.userID }
            img( src=post.user.avatar )

    if user.membership === 'ADMIN'
      .postContainer 
        each post in post_list 
          .postCard
            .postContent
              h4 #{ post.title.toUpperCase() }
              p #{ post.content }
              p.postDate #{ post.dateFormatted }
              p.postID #{ post.user.userID }
              button( type='button' ) Delete
            img( src=post.user.avatar )

  else 
    .navbar
      a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
      a( href='/log-in' ) Login
      a( href='/sign-up' ) Sign Up

    .heading
      h1= title
      img( src='/images/nav-icons/open.png' onclick='showNavBar()' )

    .postContainer 
      each post in post_list 
        .postCard
          .postContent
            h4 #{ post.title.toUpperCase() } 
            p #{ post.content }
            p.postDate unknown
            p.postID anon
          img( src=post.user.avatar )