extends layout

block content
  if user
    if user.membership === 'regular'
      .navbar
        a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
        a( href='/log-out' ) Logout
        a( href='' ) Upgrade Membership

    else 
      .navbar
        a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
        a( href='/log-out' ) Logout
        a( href='' ) Upgrade Membership
        a( href='/create-post' ) Create Post

    .heading
      h1 onlyMembers 
      img( src='/images/nav-icons/open.png' onclick='showNavBar()' )

    .postContainer 
      each post in post_list 
        .postCard 
          h4 #{ post.title } 
          p #{ post.content }
          p #{ post.dateFormatted }
          p #{ post.user.userID }

  else 
    .navbar
      a.closeNav( href='javascript:void(0)' onclick='closeNavBar()' ) X
      a( href='/log-in' ) Login
      a( href='/sign-up' ) Sign Up

    .heading
      h1= title
      img( src='/images/nav-icons/open.png' onclick='showNavBar()' )

    .postContainer 
      each post in post_list 
        .postCard 
          h4 #{ post.title } 
          p #{ post.content }
          p unknown
          p anon