extends layout 

block content
  .heading.headingForm
    h1= title
    a( href='/' )
      img( src='/images/nav-icons/arrow-back.png' )

  form( method='POST' action='' )
    label( for='title' ) Title:
    input#title(
      type='text'
      placeholder='Enter a Title'
      name='title'
    )
    label( for='content' ) Content:
    textarea#content(
      type='text'
      placeholder='Enter the content of the post'
      name='content'
    )
    button( type='submit' ) Submit
