extends layout

block content
  .heading
    h1= title
    a( href='/' )
      img( src='/images/nav-icons/arrow-back.png' )

  form( method='POST' action='' )
    label( for='userID' ) UserID:
    input#userID(
      type='text'
      placeholder='Enter UserID'
      name='userID'
    )
    label( for='password' ) Password:
    input#password(
      type='password'
      placeholder='Enter Password'
      name='password'
    )
    label( for='confirm' ) Confirm Password: 
    input#confirm(
      type='password'
      placeholder='Confirm Password'
      name='confirm'
    )
    button( type='submit' ) Submit

  if errors 
    ul
      for error in errors 
        li!= error.msg