extends layout

block content
  .heading.headingForm
    h1= title
    a( href='/' )
      img( src='/images/nav-icons/arrow-back.png' )

  form( method='POST' action='' )
    label( for='userID' ) UserID:
    input#userID(
      type='text'
      placeholder='Enter UserID'
      name='userID'
      required='true'
    )
    label( for='password' ) Password:
    input#password(
      type='password'
      placeholder='Enter Password'
      name='password'
      required='true'
    )
    label( for='confirm' ) Confirm Password: 
    input#confirm(
      type='password'
      placeholder='Confirm Password'
      name='confirm'
      required='true'
    )
    label( for='avatar' ) Avatar:
    select#avatar(
      type='select'
      placeholder='Select an Avatar'
      name='avatar'
      required='true'
    )
      each avatar in avatars
        option(
          value=avatar.location
        ) #{ avatar.name }
    button( type='submit' ) Submit

  if errors 
    ul
      for error in errors 
        li!= error.msg